@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root {
--yellow: hsl(47, 88%, 63%);
--white: hsl(0, 0%, 100%);
--grey: hsl(0, 0%, 50%);
--black: hsl(0, 0%, 7%);
}

* {
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
}

.desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.frame {
    background-color: var(--white);
    width: 384px;
    height: 50-px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #000;
    padding: 24px;
    margin-bottom: 50px;
}

.img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 24px;
    height: 200px;
}

.img img {
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    width: 336px;
    height: 194px
}

.category {
    background-color: var(--yellow);
    padding: 4px 12px;
    border-radius: 4px;
}

.category p {
    font-size: 14px;
    font-weight: 800;
}

.publishdate p {
    font-size: 14px;
    font-weight: 500;
}

.title p {
    font-size: 24px;
    font-weight: 800;
}

.description p {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey)
}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.author img {
    height: 32px;
    width: 32px;
}

.author p {
    font-size: 14px;
    font-weight: 800;
}

.title:hover {
    cursor: pointer;
    color: var(--yellow);
}

.frame:has(.title:hover) {
  box-shadow: 16px 16px 0 #000;
}

